footer {
  /*text-align: center;
  padding: 3px;
  background-color: black;
  color: white;
  position: fixed;*/
  position: fixed;
  text-align: center;
  padding: 10px 10px 0px 10px;
  background-color: black;
  color: white;
  bottom: 0px;
  width: 100%;
  /* Height of the footer*/
  height: 30px;
}
