.image {
  height: 80px;
  width: 90px;
}

h1 {
  padding: 5px;
  background-color: black;
  color: white;
  text-align: center;
}
/*.field-space {
    padding-right:40px;
}*/

th {
  padding: 20px;
  /*background-color: #80ccff;*/
  /* color: white;*/
  border-collapse: collapse;
  border-style: solid;
  border-color: grey;
}

/*table, td, tr {
  padding: 20px;
  border-collapse: collapse;
  border-style: solid;
  border-color: grey;
  background-color: white;
}*/

table, td, tr {
  padding: 20px;
  border-collapse: collapse;
  border-style: solid;
  border-color: grey;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

  table.center {
    margin-left: auto;
    margin-right: auto;
  }


.myDiv {
  display: flex;
  
}
body {
  text-align: center;
  margin: auto 5px;
  width: auto;
  height: 800px;
  background-color: burlywood;
}
