<!--<div><h3>Welcome to Angular</h3></div>
{{title}}-->
<!--<hr />
<h3>CALCULATOR</h3>-->
<!--<app-customer></app-customer>
<app-product></app-product>
<app-eb></app-eb>
<app-calc></app-calc>
<app-interpolation></app-interpolation>
<app-struct-dir></app-struct-dir>-->
<!--<app-attribute></app-attribute>-->
<!--<div appMycolor>Hello, Welcome to Angular cust directives</div>-->
<!--<app-pipe></app-pipe>-->
<!--<div appZoom>Hello, Welcome to Zoom</div>-->
<!--<app-calc></app-calc>
<app-dass></app-dass>
<app-employee></app-employee>
<app-proass></app-proass>-->
<!--<app-apro></app-apro>-->
<!--<app-calc></app-calc>-->
<!--<app-emp-details></app-emp-details>-->
<!--<app-dass></app-dass>-->
<!--<app-pro-details></app-pro-details>-->
<!--<app-parent></app-parent>
<app-parent1></app-parent1>
<app-parent2></app-parent2>-->
<!-----------update-------------->
<!--<app-first></app-first>
<app-second></app-second>-->
<!--<h3>ASSIGNMENT-1</h3>-->
<!--<hr/>
  <nav>
    <a routerLink='/java' routerLinkActive='active'>Java Technologies</a> |
    <a routerLink='/web' routerLinkActive='active'>Web Technologies</a>
  </nav>
  <router-outlet></router-outlet>
 <hr/>-->
<!--<app-product></app-product>-->
<!--<nav>
  <a routerLink='/pro-details' routerLinkActive='active'><b>PRODUCTS</b></a> |
  <a routerLink='/emp-details' routerLinkActive='active'><b>EMPLOYEES</b></a>
</nav>
<router-outlet></router-outlet>-->
<!--<app-corejava></app-corejava>-->
<!--<app-temp-driven-form></app-temp-driven-form>-->
<!--<app-model-driven></app-model-driven>-->
<!--<app-dass></app-dass>-->
<!--<app-customer></app-customer>-->
<!--<app-pro-details></app-pro-details>-->
<!----------------project-------------------------------->
<!--<ul>-->
  <!--<li><a routerLink='login' routerLinkActive='active'> <b>LOGIN</b></a></li>-->
  <!--<li><a routerLink='/home1' routerLinkActive='active'> <b>HOME</b></a></li>
  <li><a routerLink='/reviews' routerLinkActive='active'> <b>REVIEWS</b></a></li>
  <li><a routerLink='/tech' routerLinkActive='active'> <b>TECHNOLOGIES</b></a></li>
  <li><a routerLink='/temp-driven-form' routerLinkActive='active'> <b>TD-REGISTRATION</b></a></li>
  <li><a routerLink='/model-driven' routerLinkActive='active'><b>MD-REGISTRATION</b></a></li>
  <li><a routerLink='/end' routerLinkActive='active'> <b>LOG OUT</b></a></li>
</ul>
<router-outlet></router-outlet>
<footer>&copy; Copyright 2021, all rights reserved</footer>-->

<router-outlet></router-outlet>

<!--<p class="aligncenter"></p>
  <img [src]='myImage' class='image' />-->
<!------------------------------------------------------------------------------>
<!--<li><a routerLink='/pro-details' routerLinkActive='active'><b>PRODUCTS</b></a></li>
<li><a routerLink='/emp-details' routerLinkActive='active'> <b>EMPLOYEES</b></a></li>-->
<!--<app-home></app-home>-->
<!--<app-home1></app-home1>-->
<!--<app-reviews></app-reviews>-->
<!--<app-emp-details></app-emp-details>-->
<!--<app-tech></app-tech>-->
<!--<app-model-driven></app-model-driven>-->
<!--<app-temp-driven-form></app-temp-driven-form>-->
<!--<footer>&copy; Copyright 2021, all rights reserved</footer>-->
<!--<ul>
  <li><a routerLink='home' routerLinkActive='active'> <b>HOME</b></a></li>
  <li><a routerLink='reviews' routerLinkActive='active'> <b>REVIEWS</b></a></li>
  <li><a routerLink='tech' routerLinkActive='active'> <b>TECHNOLOGIES</b></a></li>
  <li><a routerLink='temp-driven-form' routerLinkActive='active'> <b>TD-Registration</b></a></li>
  <li><a routerLink='model-driven' routerLinkActive='active'> <b>MD-Registration</b></a></li>-->
<!--<li><a routerLink='/pro-details' routerLinkActive='active'><b>PRODUCTS</b></a></li>
<li><a routerLink='/emp-details' routerLinkActive='active'> <b>EMPLOYEES</b></a></li>-->
<!--</ul>
<router-outlet></router-outlet>-->
<!--<app-end></app-end>-->
<!--<app-pipe></app-pipe>-->

<!--<app-login></app-login>-->
<!--<app-home1></app-home1>-->
