<app-header></app-header>
<body>
  <div class='container'>
    <h1>REVIEW DETAILS</h1>
    <div appZoom>
      <!--<div class='container'>-->
      <b>SEARCH :</b><input [(ngModel)]="searchText" class="advancedSearchTextbox">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <b>SORT : </b>
      <select [(ngModel)]='SortbyParam'>
        <!--<option value="reviewID">Review Id</option>-->
        <option value="reviewDes">Review Description</option>
      </select>
    </div>
    </div>
    <br />
    <table class="center" align="center">
      <tr>
        <th>Review Id</th>
        <th>Review Description</th>
        <th>Review Image</th>
      </tr>
      <tr *ngFor="let products of reviewData | grdFilter: {reviewDes:searchText}| sort:SortbyParam;">
        <td>{{products.reviewID}}</td>
        <td>{{products.reviewDes}}</td>
        <td>
          <img [src]='products.productImage' class='image' />
        </td>
      </tr>
    </table>
    <!--</div>-->
</body>
<app-footer></app-footer>
<!--<div *ngIf="!product.length">
  <h1>Products not available.....</h1>
</div>-->
<!--</div>-->
