<!--<div style="background-color:burlywood">-->
<app-header></app-header>
<div class='container'>
  
  <div class="row">

    <h1>WELCOME...</h1>
    <div class="col-sm-6">
      <img [src]='myBack' class='image1' />
    </div>
    <!--<div class="container">-->
    <div class="col-sm-6">
      <p class="box">
        A learning organization is an organization skilled at creating,
        acquiring, and transferring knowledge,
        and at modifying its behavior to reflect new knowledge and insights.Learning organizations are skilled at five main activities:
        systematic problem solving, experimentation with new approaches, learning from their own experience and past history, learning from the experiences
        and best practices of others, and transferring knowledge quickly and efficiently throughout the organization.
        Each is accompanied by a distinctive mind-set, tool kit, and pattern of behavior.
        Many companies practice these activities to some degree. But few are consistently successful because they rely largely on happenstance and isolated examples.
        By creating systems and processes that support these activities and integrate them into the fabric of daily operations,
        companies can manage their learning more effectively.
      </p>
    </div>
    <!--</div>-->
    <!--<img [src]='myImage' class='image' />-->
    <!--<img [src]='myBack' class='image1' />-->
  </div>
  
</div>
<app-footer></app-footer>
  <!--<img [src]='myImage' class='image' />-->
